* {
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}

.info {
  color: rgb(0, 0, 0);
  font-weight: 500;
  margin: 0 auto !important ;
  background-color: transparent;
  overflow: hidden;
  align-items: center;
  font-size: 1.5em;
  justify-content: center;
  background-image: url(../images/bg/posterNO1.png);
  background-size: 100%;
  background-attachment: fixed;
}

.info > div {
  padding: 3vmax;
}
.info_1[data-scroll],
.info_2[data-scroll],
.info_3[data-scroll] {
  -moz-transition: 1s ease;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}
.info_1[data-scroll="in"],
.info_2[data-scroll="in"],
.info_3[data-scroll="in"] {
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}
.info_1 {
  margin: 0; /*
  background-image: url(../images/bg/AD21.png);
  background-size: 100%;
  background-attachment: fixed;*/
  align-items: center;
}
.info_2 {
  /*
  background-image: url(../images/bg/posterNO1.png);
  background-size: 100%;
  background-attachment: fixed;*/
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  min-height: 30vh;
}

.img {
  width: 100vw;
  height: auto;
}

.section_heading {
  font-size: 2rem;
  text-align: center;
  padding: 0vh;
  font-family: "Courier New", Courier, monospace;
}
.section_heading[data-scroll] {
  transition: 0.3s ease;
  transform: scaleX(0);
}

.section_heading[data-scroll="in"] {
  transform: scaleX(1);
}
.button_div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
  margin: 0;
  padding: 2vmax 0 0 0;
}
.button_div[data-scroll] {
  transition: 0.3s ease;
  transform: scaleX(0);
}

.button_div[data-scroll="in"] {
  transform: scaleX(1);
}

.text[data-scroll] {
  transition: 0.3s ease;
  transform: scaleX(0);
}

.text[data-scroll="in"] {
  transform: scaleX(1);
}