/* *{
  margin: 0;
} */

.app {
  background-color: #fafafa;
  height:100vh ;
}

.app__header{
  background-color: white;
  border-bottom: lightgray 1px solid;
  object-fit: contain;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  position: sticky;

}

.app_signup{
  display: flex;
  flex-direction: column;
}