/* *{
  margin: 0;
} */

.app {
  margin-top: 60px !important;
  background-color: #f3eded;
  /* height:100vh ; */
}

.br { 
  display: block; 
  margin-top: 0px !important; 
  margin-bottom: 0px; 
}

.app__hiUser{
  text-align: center;
}

.app__header{
  background-color: white;
  border-bottom: lightgray 1px solid;
  object-fit: contain;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;


}

.app_signup{
  display: flex;
  flex-direction: column;
}

.app__loginContainer{
  display: flex;
}