.post{
    border: 1px solid lightgray;
    margin: 20px ;
    margin-bottom: 45px;
    max-width: 700px;
    /* box-shadow: 0 0 20px 4px rgb(0, 0, 0) ; */
    object-fit: contain;
    border-radius: 6px;

    
}

.post__header{
    padding: 0px;
    display: flex;
    align-items: center;
}

.post__avatar{
    margin-right: 10px;
    margin-left: 10px;
}

.post__image{
    max-width:100% !important;
    height: auto;
    /* object-fit: contain fill; */
    object-fit: cover;
    border-bottom: 1px solid lightgray ;
    border-top: 1px solid lightgray ;
}

.post__caption{
    margin: 20px ;
    text-align: center;
}